<ion-view id="onboard-welcome" class="onboarding">
    <ion-content ng-controller="welcomeController" scroll="false">
           <ion-nav-bar>
    <ion-nav-title></ion-nav-title>
     <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

        <div id="logo-tagline">
            <h1 class="onboarding-name-coinsri">CoinSri</h1>
            <p id="lead" translate>Take control of your money,<br />get started with bitcoin.</p>
        </div>
        <div id="cta-buttons">
            <button class="button button-standard button-primary" id="get-started" href ui-sref="onboarding.tour" translate>Get started</button>
            <button class="button button-standard button-secondary button-clear" id="restore" translate href ui-sref="onboarding.import({'fromOnboarding':true})">Restore from backup</button>
        </div>
    </ion-content>
</ion-view>