<ion-view id="glidera">
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>CoinSri</ion-nav-title>

    <ion-content scroll="false"> 
      <div class="integration-onboarding">
        <div class="integration-onboarding-logo">
          <img src="img/coinsri_logo.png">
        </div>
        <div class="integration-onboarding-description" ng-bind="message" > </div>
        <!--<div class="integration-onboarding-description" >CoinSri's exchange service is available in the India, and can take 1-2 weeks to buy or sell bitcoin.</div>-->
        <div class="integration-onboarding-cta" >
        <button class="button button-standard button-primary"  href="#" ng-click="openLogin()">Login to CoinSri</button>
        <button type="button" class="button button-standard button-secondary" >CoinSri Support &rarr;</button>
        </div>
      </div>
    </ion-content>

</ion-view>
