<ion-view id="myprofile" class="settings">
    <ion-nav-bar class="bar-royal">
        <ion-nav-title>My Profile</ion-nav-title>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <!--<div class="list settings-list">-->
            <div class="item item-divider" translate>
                My Information
            </div>

            <div class="item item-icon-left" ng-click="openExternalLink()">
                <i class="icon ion-person"></i>
                <span translate>Name</span>
                <p ng-bind-html="userFullName"></p>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-email"></i>
                <span translate>Email Address</span>
                <p ng-bind-html="userEmail"> <i class="icon ion-person"></i></p> 
                <p ng-style="color" ng-disabled="isDisabled" ng-click="sendEmail()" ng-bind-html="isEmailVerified"></p>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-iphone"></i>
                <span translate>Mobile Number</span>
                <p ng-bind-html="userMobile"></p>
                <p ng-style="style"  ng-bind-html="isContactVerified"></p>
            </div>
        <!--</div>-->
    </ion-content>
</ion-view>